// Footer

.footer {
  backdrop-filter: blur(10px);
  box-shadow: 0 -5px 10px rgba(54, 237, 181, 0.3);
  background-color: #00000060;
  backdrop-filter: blur(10px);
}

.nav-footer {
  .nav-link {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--#{$prefix}gray-600);
    padding: 0.2rem 1rem;
    &:hover {
      color: var(--#{$prefix}primary);
    }
  }
}
