//
// Extended from Bootstrap
//

// Form label

.form-label {
  color: var(--#{$prefix}gray-700);
}

// Form control simple

.form-control-simple {
  &:focus {
    box-shadow: none;
  }
}

// No Resize for textarea
.no-resize {
  resize: none;
}

.form-focus-none {
  &.form-control {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// webkit apperence
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#formSearch {
  border-radius: 20px 20px 20px 20px;
  border-color: #36edb5;
  background-color: #00000040;
  backdrop-filter: blur(10px);
  color: #ffffff;
}

#formSearch::placeholder {
  color: rgba(255, 255, 255, 0.7); /* White with opacity */
  font-style: italic; /* Optional: Makes the text italic */
}

#formSearch::-webkit-search-cancel-button {
  filter: hue-rotate(310deg);
  cursor: pointer; /* Optional: Change to pointer on hover */
}

.form-label {
  color: #fff;
}

.form-control {
  margin-bottom: 20px;
  background-color: #00000060 !important;
  backdrop-filter: blur(10px) !important;
  color: #fff !important;
}

.form-select {
  background-color: #00000060 !important;
  backdrop-filter: blur(10px) !important;
  color: #fff;
}

.form-select {
  box-shadow: none !important;
}
