//
// Extended from Bootstrap
//

// Form label

.form-label {
  color: var(--#{$prefix}gray-700);
}

// Form control simple

.form-control-simple {
  &:focus {
    box-shadow: none;
  }
}

// No Resize for textarea
.no-resize {
  resize: none;
}

.form-focus-none {
  &.form-control {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// webkit apperence
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#formSearch {
  border-radius: 20px 20px 20px 20px;
  border-color: #36edb5;
  background-color: #00000040;
  backdrop-filter: blur(10px);
  color: #ffffff;
}

#formSearch::placeholder {
  color: rgba(255, 255, 255, 0.7); /* White with opacity */
  font-style: italic; /* Optional: Makes the text italic */
}

#formSearch::-webkit-search-cancel-button {
  filter: hue-rotate(310deg);
  cursor: pointer; /* Optional: Change to pointer on hover */
}

.form-label {
  color: #fff;
}

.form-control,
.form-select {
  margin-bottom: 20px;
  background-color: #00000060 !important;
  backdrop-filter: blur(10px) !important;
  color: #fff !important; /* Default text color: white */
  border: solid 1px white;
  box-shadow: 0 0 3px 1px #222 !important;

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.form-control:focus,
.form-select:focus {
  border-color: $primary;
  box-shadow: 0 0 5px 2px $primary !important;
}

/* Placeholder styling */
.form-control::placeholder,
.form-select::placeholder {
  color: gray !important; /* Placeholder color */
  opacity: 1; /* Ensures full opacity */
}

/* Change text color to gray when placeholder is visible */
.form-control:placeholder-shown,
.form-select:placeholder-shown {
  color: gray !important;
}

/* Input text turns white when user types */
.form-control:not(:placeholder-shown),
.form-select:not(:placeholder-shown) {
  color: white !important;
}

.form-select {
  box-shadow: none !important;
  margin-bottom: 20px;
}

.form-check-input {
  background-color: white;
  box-shadow: 0 0 3px 1px $dark !important;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #fff; /* Green background */
  color: $dark; /* White text */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Adjust font size */
  cursor: pointer; /* Pointer cursor */
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

input[type="file"]:hover::-webkit-file-upload-button {
  background-color: white !important; /* Green background */
}
input[type="file"]:hover {
  box-shadow: 0 0 5px 2px $primary !important;
  border-color: $primary;
}
