.dropdown-toggle {
  color: $gray-900;
  font-size: 1rem !important;
  font-weight: 500;
}

#dashboard-nav-item {
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 0.95;
  font-weight: 500;
  color: var(--#{$prefix}gray-700);
  white-space: nowrap;
  &.active {
    color: var(--#{$prefix}primary);
  }
  &:hover {
    color: var(--#{$prefix}primary);
  }
}

.nladj {
  color: $gray-900;
  font-size: 1rem !important;
  font-weight: 500;
}

.custom-width {
  min-width: 225px;
}
.custom-toggle {
  margin-top: -15px;
  width: 175px;
}

.captchaError {
  width: fit-content;
  border: var(--bs-border-width) solid #e8e7ed;
  border-color: $danger;
  border-radius: var(--bs-border-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.image-modal {
  background-color: #00000000;
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.85);
}

.custom-icon {
  position: relative;
  top: 2px; /* Adjust this value as needed */
}

.icon-bar {
  color: white;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.blur {
  backdrop-filter: blur(5px);
}

.row {
  --fc-gutter-x: 0;
}

.container {
  text-align: center;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
}

.checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid $primary;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "Mainnet";
  padding-left: 5px;
  backdrop-filter: blur(10px);
  background-color: #00000050;
  color: #fff;
  font-size: 0.7rem;
}
.inner:after {
  content: "Testnet";
  padding-right: 7px;
  background-color: #00000050;
  backdrop-filter: blur(10px);
  color: #fff;
  text-align: right;
  font-size: 0.7rem;
}
.switch {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 45px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.2s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

section {
  transition: height 0.3s ease-in-out !important;
}
